/* Fonts */
@font-face {
  font-family: Ubuntu-Bold;
  src: url("@fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url("@fonts/Ubuntu-Regular.ttf");
}

/* Root and Reset */
:root {
  font-family: Ubuntu-Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfaf7;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #033b44;
  font-family: Ubuntu-Regular;
}
a,
h2,
p {
  text-decoration: none;
  margin: 0;
}
li {
  list-style-type: none;
}

/* Layout Containers */
.address-bar,
.address-email-tel,
.nav-bar,
.event-card-dt,
.event-card-d,
.event-card-t {
  display: flex;
}
.address-bar,
.nav-bar {
  margin: 0 auto;
  width: 98%;
  justify-content: space-between;
  padding: 0.3rem;
}
.nav-bar {
  flex-direction: column;
  gap: 0.5em;
}
@media screen and (min-width: 961px) {
  .address-bar,
  .nav-bar {
    width: 100%;
  }
  .nav-bar {
    padding: 1em;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Address & Logo */
.address-bar {
  border-bottom: 0.06em solid #03485369;
}
.address-item {
  display: flex;
  flex-direction: row;
  padding: 0.2em;
}
.address-item a {
  font-size: 0.7rem;
}
.logo-area {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  cursor: pointer;
}
.logo-name {
  color: #eb8006;
}
.logo-desc {
  font-size: 0.6rem;
  border-bottom: 0.06em solid #03485369;
  width: fit-content;
}

/* Menu */
.menu-ul {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.menu-list-items {
  width: fit-content;
  height: fit-content;
  padding: 0.5em;
  list-style-type: none;
  text-align: center;
}
.menu-list-items:hover,
.book-now-btn:hover,
.address-item a:hover {
  background-color: #faebd7;
  font-weight: 600;
}

@media screen and (min-width: 961px) {
  .menu-ul {
    flex-direction: row;
  }
  .menu-list-items {
    margin: 0 1em;
  }
}

/* Buttons */
.book-now-btn {
  padding: 0.5em 1em;
  border: 0.1em solid #034953;
  font-size: 0.8rem;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}
.available-btn {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.05em solid #fcfaf7;
  padding: 0.2em 0.5em;
  color: #fcfaf7;
  background-color: transparent;
}
.available-btn:hover {
  border: 0.2em solid #fcfaf7;
  font-weight: 600;
}

/* Headings */
.heading,
.sub-heading {
  margin: 0.3em auto;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}
.sub-heading {
  margin-top: 1em;
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 961px) {
  .heading {
    font-size: 4.5rem;
  }
}

/* Background Image */
.background-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.background-img img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .background-img {
    padding: 0 1em;
  }
}
@media screen and (min-width: 961px) {
  .background-img {
    padding: 0 2em;
  }
}

/* Room Cards & Gallery Grid */
.room-cards,
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.3em;
  padding: 0.5em;
}
.room-card,
.gallery-grid-item {
  grid-column: span 1;
  margin-bottom: 1rem;
  border-bottom: 0.1em solid #fcfaf7;
}
.roomcard-img,
.roomcard-details,
.roomcard-price {
  padding: 0 0.5em;
}
.roomcard-img img,
.gallery-grid-item {
  width: 100%;
}
/* Gallery Details */
.gallery-details p {
  padding: 0 0.63em;
}
.roomcard-details h2,
.roomcard-details ul li,
.roomcard-price p,
.available-btn {
  color: #fcfaf7;
}
.roomcard-details h2 {
  font-family: Ubuntu-Bold;
  color: #faebd7;
}
.roomcard-details ul {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}
.roomcard-price {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7em;
}
.roomcard-price p {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .room-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .roomcard-img img,
  .event-card-img img {
    height: 200px;
  }
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    padding: 0.5em 1rem;
  }
  .gallery-grid-item {
    height: 100%;
  }
  /* Gallery Grid Items */
  .gal-item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .gal-item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .gal-item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .gal-item4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .gallery-details {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .gallery-details p {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 961px) {
  .room-cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .roomcard-img img {
    height: 220px;
  }
  .gallery-grid {
    grid-template-rows: repeat(2, 250px);
  }
}

/* Facilities */
.facilities {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0.6em;
}
.facility-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fac-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fac-item2,
.fac-item3,
.fac-item4,
.fac-item5 {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.3em;
}
.fac-item2 {
  background-image: url("@img/gym.jpeg");
}
.fac-item3 {
  background-image: url("@img/car-park.jpeg");
}
.fac-item4 {
  background-image: url("@img/pool.jpeg");
}
.fac-item5 {
  background-image: url("@img/restaurant.jpeg");
}
.facility-item-text {
  width: 90%;
  margin: 1em auto;
  padding: 0.5em;
  text-align: center;
  background-color: #fcfaf7ef;
}
@media screen and (min-width: 768px) {
  .facilities {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 1em;
  }
  .fac-item1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .fac-item2 {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
  }
  .fac-item3 {
    grid-column: 7 / 10;
    grid-row: 1 / 2;
  }
  .fac-item4 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
  .fac-item5 {
    grid-column: 5 / 10;
    grid-row: 2 / 3;
  }
}
@media screen and (min-width: 961px) {
  .facilities {
    grid-template-rows: repeat(2, 250px);
  }
}

/* Events */
.events {
  padding: 1em 0 0 0;
  background-color: #033b44;
}
.event-cards {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .event-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.event-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 1em 0.5em;
}
.event-card-img img {
  width: 100%;
}
.event-card-hdt {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.event-card p {
  color: #fcfaf7;
  opacity: 0.8;
  font-size: 0.8rem;
}
.event-card h2 {
  color: #fcfaf7;
  font-size: 0.95rem;
  font-weight: 600;
  opacity: 1;
}
.event-card-dt img,
.contact-card img {
  margin: auto 0;
  width: 1rem;
  height: 1rem;
}
.event-card-desc {
  border: 0.1em solid #fcfaf750;
  border-top: none;
  padding: 0 0.5em;
}
/* Map View*/
.contact-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px;
}
.contact-item1,
.contact-item2,
.map-area,
.map-area iframe {
  width: 100%;
  height: 100%;
}
.map-area iframe {
  border: none;
}
.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5em;
}
.contact-card h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1em;
}
.contact-card a,
.contact-card p {
  text-align: center;
  font-size: 0.9rem;
}
.contact-card div {
  display: flex;
  gap: 1em;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .contact-area {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
  }
}
